<div class="parent-container" *ngIf="pokemon()">
  <div class="img-container">
    <img [src]="officialArtworkUrl" />
  </div>
  <div class="info-container">
    <div class="head-container">
      <h1>
        {{
          (pokemon()!.id | hashZeroFormat : 3) +
            " " +
            (pokemon()!.name | titlecase)
        }}
      </h1>
    </div>

    <p>{{ pokemonGenera() }}</p>

    <div class="types-container">
      <div>
        <h2>Type</h2>
      </div>
      <div>
        <img
          class="type"
          *ngFor="let t of pokemonTypeIcons()"
          [src]="t"
          alt="Type Icon"
          class="type-icon"
        />
      </div>
    </div>

    <div>
      <div>
        <h2>Weight</h2>
        <p>{{ pokemon()!.weight | convertUnit : 8 : "Kg" }}</p>
      </div>
      <div>
        <h2>Height</h2>
        <p>{{ pokemon()!.height | convertUnit : 10 : "m" }}</p>
      </div>
    </div>

    <div>
      <h2>Description</h2>
      <p>{{ pokemonDescription() | cleanText }}</p>
    </div>

    <div>
      <table>
        <caption>
          <h2>Stats</h2>
        </caption>
        <thead>
          <tr>
            <th *ngFor="let stat of pokemon()?.stats">
              {{ stat.stat.name | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let stat of pokemon()?.stats">{{ stat.base_stat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
